:root {
  --ui-bg: rgba(0,0,0,0.6);
  --ui-bg2: rgba(178,178,178,0.6);
  --main-bg: #fff;
  --main-text: #000;
  --ui-text: #fff;
  --ui-focus: rgba(68,68,68,0.6);
  --ui-hover: rgba(68,68,68,0.6);
  --header-base-size: 4vw;
  --header-font-size: 2vw;
  --news-key-color: 217;
  --works-key-color: 5;
  --about-key-color: 47;
  --team-key-color: 20;
  --contacts-key-color: 270;
}
@media screen and (max-width: 600px) {
  :root {
    --hero-font-size: 9vw;
    --hero-sub-font-size: 3vw;
    --header-base-size: 12vw;
    --header-font-size: 3.6vw;
  }
}
html,
body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--main-bg);
  font-family: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
a {
  text-decoration: none;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(var(--header-base-size) * 1.5) 0 calc(var(--header-base-size) * 0.5);
  color: var(--main-text);
  background-color: var(--main-bg);
}
.hero_logo {
  width: 50vw;
}
header {
  position: fixed;
  width: 100vw;
  top: 0;
  height: var(--header-base-size);
  z-index: 1;
  background-color: var(--ui-bg);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
}
.picture_img {
  width: 100%;
  height: 100%;
}
nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: var(--header-base-size);
  line-height: var(--header-base-size);
  width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));
  left: env(safe-area-inset-left);
}
.nav_item {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  font-size: var(--header-font-size);
  color: var(--ui-text);
  background-color: transparent;
}
@media screen and (min-width: 600px) {
  .nav_item:hover {
    background-color: var(--ui-hover);
  }
}
.nav_item+.nav_item:before {
  content: '';
  position: absolute;
  width: 1px;
  top: calc(var(--header-base-size) * 0.1);
  height: calc(var(--header-base-size) * 0.8);
  display: block;
  background-color: var(--ui-text);
}
@media screen and (max-width: 600px) {
  .nav_item:first-child {
    display: none;
  }
  .nav_item+.nav_item:nth-child(2):before {
    content: none;
  }
}
main {
  background-color: var(--main-bg);
}
.main-section {
  color: var(--main-text);
  display: flex;
  width: 100vw;
}
.main-section_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  color: var(--ui-text);
}
.main-section_title h2,
.main-section_title h3 {
  margin: 0;
}
@media screen and (max-width: 600px) {
  .main-section_title h2,
  .main-section_title h3 {
    font-size: 1.1em;
  }
}
.main-section_article {
  box-sizing: border-box;
  width: 70vw;
  padding: calc(var(--header-base-size) * 0.4);
}
.card-container {
  display: flex;
  position: relative;
  overflow: scroll visible;
  overflow-x: scroll;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  padding-right: 0;
}
.main-section_card {
  flex: 0 0 32vw;
  width: 32vw;
  padding: 5px;
  box-shadow: 0px 20px 30px -15px #808080;
  background-color: var(--main-bg);
  position: relative;
  color: var(--main-text);
}
@media screen and (max-width: 600px) {
  .main-section_card {
    flex: 0 0 56vw;
    width: 56vw;
  }
}
.main-section_card+.main-section_card {
  margin-left: calc(var(--header-base-size) * 0.4);
}
.main-section_card:after {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% + 4px);
  left: -5px;
  bottom: -10px;
  border-top: 5px solid #c0c0c0;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}
.main-section_card_title {
  line-height: 2;
  height: 2em;
  margin: 0;
  white-space: nowrap;
  overflow-x: scroll;
}
.break-point {
  display: inline-block;
}
.main-section_card_article {
  line-height: 1;
  height: 6em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
.main-section_card_article p {
  margin: 0;
}
.card_padding-fixer {
  flex: 0 0 calc(var(--header-base-size) * 0.4);
  width: calc(var(--header-base-size) * 0.4);
}
.image-card {
  padding: 0;
}
.image-card:after {
  width: calc(100% - 5px);
  left: 0;
  bottom: -5px;
}
.image-card_banner {
  width: 100%;
  background-color: var(--ui-bg);
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  position: absolute;
  bottom: 0;
  padding: 0 5px 5px 5px;
  box-sizing: border-box;
  text-align: right;
}
.image-card_banner_title {
  margin: 0;
  line-height: 1;
  height: 2em;
  padding: 0.5em 0.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  color: var(--ui-text);
}
.image-card_banner_sub {
  line-height: 0.5;
  height: 0.5em;
  font-size: 0.5em;
  color: #d3d3d3;
}
.image-card_link-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--ui-text);
  font-weight: bold;
  -webkit-text-stroke-color: var(--ui-bg);
  -webkit-text-stroke-width: medium;
}
.profile-card {
  padding: 0;
}
.profile-card:after {
  width: calc(100% - 5px);
  left: 0;
  bottom: -5px;
}
.profile-card_article {
  box-sizing: border-box;
  display: flex;
}
.profile-card_avatar {
  flex: 0 0 30%;
  width: 30%;
}
.profile-card_avatar img {
  border-radius: 50%;
  height: auto;
}
.profile-card_social {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
}
.profile-card_social_icon {
  flex: 1 1 100%;
  height: 2em;
  text-align: center;
}
.profile-card_social_icon img {
  display: inline-block;
  margin: 0 auto;
  width: auto;
  height: 100%;
}
.twitter {
  background-color: #1da1f3;
}
.facebook {
  background-color: #1877f2;
}
.note {
  background-color: #41c8b5;
}
#NEWS .main-section_title,
#ABOUT .main-section_title {
  padding-left: env(safe-area-inset-left);
}
#NEWS .card_padding-fixer,
#ABOUT .card_padding-fixer {
  flex: 0 0 calc(var(--header-base-size) * 0.4 + env(safe-area-inset-right));
  width: calc(var(--header-base-size) * 0.4 + env(safe-area-inset-right));
}
#WORKS,
#TEAM {
  flex-direction: row-reverse;
}
#WORKS .main-section_title,
#TEAM .main-section_title {
  padding-right: env(safe-area-inset-right);
}
#WORKS .card-container,
#TEAM .card-container {
  padding-left: calc(var(--header-base-size) * 0.4 + env(safe-area-inset-left));
}

#NEWS .main-section_title{
  background-color:hsl(var(--news-key-color), 75%, 50%);
}

#NEWS .main-section_article{
  background-color:hsl(var(--news-key-color), 75%, 90%);
}

#WORKS .main-section_title{
  background-color:hsl(var(--works-key-color), 75%, 50%);
}

#WORKS .main-section_article{
  background-color:hsl(var(--works-key-color), 75%, 90%);
}

#ABOUT .main-section_title{
  background-color:hsl(var(--about-key-color), 75%, 50%);
}

#ABOUT .main-section_article{
  background-color:hsl(var(--about-key-color), 75%, 90%);
}

#TEAM .main-section_title{
  background-color:hsl(var(--team-key-color), 75%, 50%);
}

#TEAM .main-section_article{
  background-color:hsl(var(--team-key-color), 75%, 90%);
}

#CONTACTS .main-section_title{
  background-color:hsl(var(--contacts-key-color), 0%, 0%);
}

#CONTACTS .main-section_article{
  background-color:hsl(var(--contacts-key-color), 0%, 90%);
}
footer {
  position: relative;
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);
  height: calc(4rem + 4vw);
  background-color: var(--ui-bg2);
}
@media screen and (max-width: 600px) {
  footer {
    height: calc(6rem + 8vw);
  }
}
.footer_link {
  display: flex;
  height: calc(2rem + 4vw);
  padding: 2vw;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .footer_link {
    height: calc(4rem + 6vw);
  }
}
@supports (padding: calc(max(0px))) {
  .footer_link {
    padding: 2vw calc(max(env(safe-area-inset-right), 2vw)) 2vw calc(max(env(safe-area-inset-left), 2vw));
  }
}
.footer_link_item {
  box-sizing: border-box;
  flex-basis: calc(90vw / 4);
  display: block;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1vw;
  color: #fff;
  border: none;
  background-color: #000;
  font-size: var(--header-font-size);
}
@media screen and (max-width: 600px) {
  .footer_link_item {
    flex-basis: 47vw;
  }
}
@media screen and (min-width: 600px) {
  .footer_link_item:hover {
    background-color: var(--ui-hover);
  }
}
@supports (padding: calc(max(0px))) {
  .footer_link_item {
    flex-basis: calc((90vw - max(env(safe-area-inset-left), 2vw) - max(env(safe-area-inset-right), 2vw)) / 4);
  }
@media screen and (max-width: 600px) {
    .footer_link_item {
      flex-basis: calc((98vw - max(env(safe-area-inset-left), 2vw) - max(env(safe-area-inset-right), 2vw)) / 2);
    }
}
}
.icon {
  display: inline;
  margin-right: 0.5rem;
}
.footer_copywrite {
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  color: var(--main-text);
  text-align: center;
}
@media screen and (max-width: 600px) {
  .footer_copywrite {
    font-size: calc(100vw / 30);
  }
}
.floating-button {
  bottom: calc(var(--header-base-size) * 0.2);
  right: calc(var(--header-base-size) * 0.2);
  width: calc(var(--header-base-size) * 0.75);
  position: fixed;
  filter: drop-shadow(0 8px 5px #000);
  animation: bounce 1s ease-in-out infinite alternate;
}
@-moz-keyframes bounce {
  from {
    bottom: calc(var(--header-base-size) * 0.2);
    filter: drop-shadow(0 3px 2px #000);
  }
  to {
    bottom: calc(var(--header-base-size) * 0.2 + 5px);
    filter: drop-shadow(0 8px 6px #000);
  }
}
@-webkit-keyframes bounce {
  from {
    bottom: calc(var(--header-base-size) * 0.2);
    filter: drop-shadow(0 3px 2px #000);
  }
  to {
    bottom: calc(var(--header-base-size) * 0.2 + 5px);
    filter: drop-shadow(0 8px 6px #000);
  }
}
@-o-keyframes bounce {
  from {
    bottom: calc(var(--header-base-size) * 0.2);
    filter: drop-shadow(0 3px 2px #000);
  }
  to {
    bottom: calc(var(--header-base-size) * 0.2 + 5px);
    filter: drop-shadow(0 8px 6px #000);
  }
}
@keyframes bounce {
  from {
    bottom: calc(var(--header-base-size) * 0.2);
    filter: drop-shadow(0 3px 2px #000);
  }
  to {
    bottom: calc(var(--header-base-size) * 0.2 + 5px);
    filter: drop-shadow(0 8px 6px #000);
  }
}
@media screen and (min-width: 600px) {
  .floating-button {
    display: none;
  }
}
